.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
/* .dentistas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} */
.dentistas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}