.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input, .button{
    padding: 5px;
    border: solid white 1px; 
    border-radius: 8px;
}
.button:hover{
    transform: scale(1.01);
}
.error{
    color: red;
    font-size: 15px;
    text-align: center;
}