.nav{
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-bottom: solid 1px rgb(58,58,64);
}
.link{
    color: rgb(173,192,199);
    text-decoration: none;
    padding: 5px;
}
.link:hover {
    color: white;
    transform: scale(1.01);
  }