.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dentistas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}