.contenedor{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dentista{
    text-align: center;
    margin-top: 10px;
    padding: 15px;
    justify-self: center;
    border: white solid 1px;
    border-radius: 8px;
}